Installing and Importing Libraries

In [1]:
# Standard libraries
import re
import csv
import nltk
import spacy
import string
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

#Natural Language Processing 
import re
import spacy.cli
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
spacy.cli.download('en_core_web_sm')
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

[nltk_data] Downloading package stopwords to C:\Users\Matsatsi
[nltk_data]     Mankga\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Matsatsi
[nltk_data]     Mankga\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Matsatsi
[nltk_data]     Mankga\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
stop = nltk.corpus.stopwords.words('english')

Importing and viewing the Datasets

In [4]:
#importing test datasets
test = pd.read_csv('~/Desktop/HACKATHON/test_set.csv')
#importing train datasets
train= pd.read_csv('~/Desktop/HACKATHON/train_set.csv')

In [8]:
#To display the top 5 rows
train.head(10)

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...
5     nso  dinyakišišo tše tša go dirwa gabedi ka ngwaga ...
6     tsn  kgetse nngwe le nngwe e e sa faposiwang mo tsh...
7     ven  mbadelo dze dza laelwa dzi do kwama mahatulele...
8     nso  maloko a dikhuduthamaga a ikarabela mongwe le ...
9     tsn  fa le dirisiwa lebone le tshwanetse go bontsha...

In [9]:
#To display the top 5 rows
test.head(5)

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

**Basic Data Analysis**

Explore of the shape of the train and test dataset

In [ ]:
#confirming the data shapes for both the train and test
train.shape , test.shape

((33000, 2), (5682, 2))

In [ ]:
print(train.isnull().sum())

lang_id    0
text       0
dtype: int64

In [ ]:
print(test.isnull().sum())

index    0
text     0
dtype: int64

This confirms that there are no nulls in both the test and train datasets

Checking and exploring the DataTypes of the dataset

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33000 entries, 0 to 32999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lang_id  33000 non-null  object
 1   text     33000 non-null  object
dtypes: object(2)
memory usage: 515.8+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682 entries, 0 to 5681
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   5682 non-null   int64
 1   text    5682 non-null   object
dtypes: int64(1), object(1)
memory usage: 88.9+ KB

In [ ]:
train.lang_id.value_counts()

tsn    3000
ven    3000
ssw    3000
nso    3000
nbl    3000
eng    3000
tso    3000
sot    3000
afr    3000
xho    3000
zul    3000
Name: lang_id, dtype: int64

A sample of all the offical languages.

In [ ]:
train[train.lang_id == 'tsn'].sample(2)

      lang_id                                               text
18231     tsn  sengwe le sengwe se se dirilweng go ya kwa pel...
25115     tsn  simolola ka mekgwa fa go tlhokagala jalo ya go...

In [ ]:
train[train.lang_id == 'ven'].sample(2)

      lang_id                                               text
25449     ven  nḓivhadzo na tsheo hafha mulanguli u fanela u ...
10129     ven  arali vhusimamilayo ha vunḓu nga vouthu ya vhu...

In [ ]:
train[train.lang_id == 'ssw'].sample(2)

      lang_id                                               text
19897     ssw  lemitsi yekubelekisa iyasita ngoba kuyenteka b...
15503     ssw  boy ungaphiki ngobe sengikubambile uyati ayikh...

In [ ]:
train[train.lang_id == 'nso'].sample(2)

      lang_id                                               text
18466     nso  aowa se ga se šupe seabe godimo ga tiro peipi ...
30593     nso  ka morago ga go reka dijo tšea dijo tšeo di ny...

In [ ]:
train[train.lang_id == 'nbl'].sample(2)

      lang_id                                               text
32080     nbl  woke amabhodo wokusezela namabhodo wokulawulwa...
9016      nbl  ngokwesekhtjheni yomthetho ophathelene nalokhu...

In [ ]:
train[train.lang_id == 'eng'].sample(2)

      lang_id                                               text
4230      eng  the minister may subject to the provisions oft...
27603     eng  it is time to celebrate and embrace the potent...

In [ ]:
train[train.lang_id == 'tso'].sample(2)

      lang_id                                               text
24368     tso  hikwalaho ka leswi hi ta ya emahlweni hi rhang...
24840     tso  eku heleni ka lembe rin wana na rin wana xedul...

In [ ]:
train[train.lang_id == 'sot'].sample(2)

      lang_id                                               text
32391     sot  nako e pakeng tsa ho phethelwa ha moralo wa mk...
13942     sot  phethahatsong ya karolo ya batho bohle makgotl...

In [ ]:
train[train.lang_id == 'afr'].sample(2)

      lang_id                                               text
23856     afr  in suidafrika het nimro in die eerste keer die...
3249      afr  baie risikofaktore is vir borskanker uitgeken ...

In [ ]:
train[train.lang_id == 'xho'].sample(2)

      lang_id                                               text
32549     xho  ungachonga umntu oza kufumana isabelo sakho se...
16589     xho  ukuba uhlala kuloo mhlaba futhi ufuna ukuwuthe...

In [ ]:
train[train.lang_id == 'zul'].sample(2)

      lang_id                                               text
20416     zul  ukuhunyushwa kwalo msebenzi bekuyinto engelula...
19498     zul  a uma ngabe amandla esetshenziswa ngaphakathi ...

CLEANING THE DATA

In [5]:
def clean_text(df):
  item = 0
  for message in df['text']:
    message = message .lower()
    message = re.sub(r'@\S+', '', message )
    message = re.sub(r'[^\w\s]', '', message )
    message = re.sub(r'\d+', '', message)
    message= re.sub(r'\s\s+', ' ', message)
    message = message.lstrip(' ')  
    message = message .lstrip()
    message = message .rstrip()
    message = message .replace('  ', ' ')
    df.loc[item, 'text'] = message
    item += 1

In [6]:
clean_text(train)
train.head(10)

  lang_id                                               text
0     xho  umgaqosiseko wenza amalungiselelo kumaziko axh...
1     xho  idha iya kuba nobulumko bokubeka umsebenzi nap...
2     eng  the province of kwazulunatal department of tra...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...
5     nso  dinyakišišo tše tša go dirwa gabedi ka ngwaga ...
6     tsn  kgetse nngwe le nngwe e e sa faposiwang mo tsh...
7     ven  mbadelo dze dza laelwa dzi do kwama mahatulele...
8     nso  maloko a dikhuduthamaga a ikarabela mongwe le ...
9     tsn  fa le dirisiwa lebone le tshwanetse go bontsha...

In [7]:
clean_text(test)
test.head(5)

   index                                               text
0      1  mmasepala fa maemo a a kgethegileng a letlelel...
1      2  uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3          tshivhumbeo tshi fana na ngano dza vhathu
3      4  kube inja nelikati betingevakala kutsi titsini...
4      5                       winste op buitelandse valuta

Basic classification models

In [6]:
# Preprocessing
import en_core_web_sm
from collections import Counter
from nltk.probability import FreqDist
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords, wordnet  
from sklearn.feature_extraction.text import CountVectorizer   
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer 
from sklearn.model_selection import train_test_split, RandomizedSearchCV

# Building classification models
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

# Model evaluation
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, f1_score, precision_score, recall_score

Train - Validation split

In [7]:
# Seperate features and tagret variables
X = train['text']
y = train['lang_id']

# Split the train data to create validation dataset
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.20, random_state=42)

Pipelines

In [15]:
# Random Forest Classifier
rf = Pipeline([('tfidf', TfidfVectorizer()),
               ('clf', RandomForestClassifier(max_depth=5, 
                                              n_estimators=100))])

# Naïve Bayes:
nb = Pipeline([('tfidf', TfidfVectorizer()),
               ('clf', MultinomialNB())])

# Logistic Regression
lr = Pipeline([('tfidf',TfidfVectorizer()),
               ('clf',LogisticRegression(C=1, 
                                         class_weight='balanced', 
                                         max_iter=1000))])
# Linear SVC:
lsvc = Pipeline([('tfidf', TfidfVectorizer()),
                 ('clf', LinearSVC(class_weight='balanced'))])

In [20]:
# Linear SVC:
lsvc = Pipeline([('tfidf', TfidfVectorizer()),
                 ('clf', LinearSVC(class_weight='balanced'))])

In [21]:
# Linear SVC
lsvc.fit(X_train, y_train)
y_pred_lsvc = lsvc.predict(X_valid)

Training

In [16]:
# Random forest 
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_valid)

# Niave bayes
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_valid)

# Linear regression
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_valid)

# Linear SVC
lsvc.fit(X_train, y_train)
y_pred_lsvc = lsvc.predict(X_valid)

Model evaluation

Random forest

In [17]:
print(metrics.classification_report(y_valid, y_pred_rf))
cm = confusion_matrix(y_valid, y_pred_rf)
cm_norm = cm / cm.sum(axis=1).reshape(-1,1)

              precision    recall  f1-score   support

         afr       0.99      1.00      1.00       583
         eng       0.98      1.00      0.99       615
         nbl       0.94      0.69      0.79       583
         nso       0.99      0.98      0.98       625
         sot       1.00      1.00      1.00       618
         ssw       0.60      0.81      0.69       584
         tsn       0.97      0.98      0.98       598
         tso       1.00      1.00      1.00       561
         ven       1.00      1.00      1.00       634
         xho       0.95      0.70      0.81       609
         zul       0.66      0.77      0.71       590

    accuracy                           0.90      6600
   macro avg       0.92      0.90      0.90      6600
weighted avg       0.92      0.90      0.91      6600

Naive Bayes

In [10]:
print(metrics.classification_report(y_valid, y_pred_nb))
cm = confusion_matrix(y_valid, y_pred_nb)
cm_norm = cm / cm.sum(axis=1).reshape(-1,1)

              precision    recall  f1-score   support

         afr       1.00      1.00      1.00       583
         eng       1.00      1.00      1.00       615
         nbl       0.99      1.00      0.99       583
         nso       1.00      1.00      1.00       625
         sot       1.00      1.00      1.00       618
         ssw       1.00      1.00      1.00       584
         tsn       1.00      1.00      1.00       598
         tso       1.00      1.00      1.00       561
         ven       1.00      1.00      1.00       634
         xho       1.00      1.00      1.00       609
         zul       1.00      0.99      0.99       590

    accuracy                           1.00      6600
   macro avg       1.00      1.00      1.00      6600
weighted avg       1.00      1.00      1.00      6600

Logistic regression

In [20]:
print(metrics.classification_report(y_valid, y_pred_lr))

cm = confusion_matrix(y_valid, y_pred_lr)
cm_norm = cm / cm.sum(axis=1).reshape(-1,1)

              precision    recall  f1-score   support

         afr       1.00      0.99      0.99       583
         eng       1.00      1.00      1.00       615
         nbl       0.99      0.99      0.99       583
         nso       1.00      0.99      1.00       625
         sot       1.00      1.00      1.00       618
         ssw       0.99      1.00      0.99       584
         tsn       1.00      1.00      1.00       598
         tso       1.00      1.00      1.00       561
         ven       1.00      1.00      1.00       634
         xho       0.99      1.00      0.99       609
         zul       0.98      0.98      0.98       590

    accuracy                           0.99      6600
   macro avg       0.99      0.99      0.99      6600
weighted avg       0.99      0.99      0.99      6600

SVC

In [22]:
print(metrics.classification_report(y_valid, y_pred_lsvc))

cm = confusion_matrix(y_valid, y_pred_lsvc)
cm_norm = cm / cm.sum(axis=1).reshape(-1,1)

              precision    recall  f1-score   support

         afr       1.00      1.00      1.00       583
         eng       1.00      1.00      1.00       615
         nbl       0.99      0.99      0.99       583
         nso       1.00      1.00      1.00       625
         sot       1.00      1.00      1.00       618
         ssw       1.00      1.00      1.00       584
         tsn       1.00      1.00      1.00       598
         tso       1.00      1.00      1.00       561
         ven       1.00      1.00      1.00       634
         xho       1.00      1.00      1.00       609
         zul       0.99      0.99      0.99       590

    accuracy                           1.00      6600
   macro avg       1.00      1.00      1.00      6600
weighted avg       1.00      1.00      1.00      6600

Submission

In [25]:
t=test['text']
test_pred = nb.predict(t)

test['lang_id'] = test_pred

submission = test[['index','lang_id']]
submission.to_csv('Matsatsi_Mankga.csv', index=False)

In [26]:
submission.head()

   index lang_id
0      1     tsn
1      2     nbl
2      3     ven
3      4     ssw
4      5     afr

In [23]:
t=test['text']
test_pred = lsvc.predict(t)

test['lang_id'] = test_pred

submission = test[['index','lang_id']]
submission.to_csv('Matsatsi_Mankga.csv', index=False)

In [24]:
submission.head()

   index lang_id
0      1     tsn
1      2     nbl
2      3     ven
3      4     ssw
4      5     afr